#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #381c0a;
}

.auth-container {
  background-color: #ffe9d6;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #381c0a;
  margin: 20px auto;
}

.button {
  background-color: #fecf99;
  padding: 10px 20px;
  margin: 10px auto;
  border: 2px solid #381c0a;
}

input {
  padding: 5px;
  border: 2px solid #381c0a;
}

.invalid-input {
  color:red;
}
